body{
    background: linear-gradient(100deg, #374045 60%, #000000 60%);
}
main{
    display: flex;
    flex-direction: row;

    width:60%;
    height:800px;
    box-shadow: 0 15px 25px rgba(255,255,255, 0.6);
    background: rgba(255,255,255, 0.8);
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 3%;
    flex-wrap: wrap;
}

main .split div input{
    width:350px;
    height :40px;
    border-radius: 5px;;
    background-color: black;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .8);
    color:rgb(255, 255, 255);
    font-weight: bold;
    transform: skew(-10deg);
}
main .split div input:hover{
    background: rgba(108, 122, 137,.8);

}
.split {
    display:flex;
    flex-direction: column;
    margin-top: 3%;
    height:50%;;
    width:35%;
    margin-left:10%;

}
.split div{
    margin-top:30px;
}
.signup{
    font-family: Roboto;
    text-align: center;
    margin-left: 25%;
    width:50%;
    height:40px;
    font-size: 30px;
    transform: skew(-10deg);
    background-color: #374045;


}
.signup:hover{
    transform: matrix(1, .05, 0, 1, 0, 0);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .7);
}
.logo{
    display: flex;
    width:40%;

    margin-left: 30%;
    flex-direction: column;


}
.logos  img{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-left:3%;
    margin-top: 10px;
}
.images{
    display: flex;
    justify-content: space-evenly;
    width:80%;
    margin-left: 10%;
}

p{
    width:max-content;
    height: fit-content;
    color:red;
    display:none
}
