
<div class="flex-box">

    <div class="image"></div>
        
        
        <form action="" method="post" id="form-signup">      
            <input type="text" placeholder="enter your email" name="Email" >
            <button type="submit" class="w-99 btn btn-lg btn-primary"> submit</button>
        </form> 
    
    </div>