

<div class="flex-box">

<div class="image"></div>
    
    
    
    
    
    <form action="/action_page.php" id="form-login">




        <div class="form-elements" >
            <label for="email">email:</label>
            <input type="email" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-elements">
            <label for="passward">passward</label>
            <input type="password" id="passward" name="passward" placeholder="Passward">
        </div>
            <div class="form-submit">
                <button type="submit" class="w-99 btn btn-lg btn-primary"> log in</button>
            </div>

            


    </form> 

</div>