
<div class="flex-box">
<div class="image"></div>
    <form action="" method="post" id="form-login">
            <label for="fname">email:</label>
            <input type="txt" id="email" name="Email">
            <label for="lname">passward</label>
            <input type="password" id="passward" name="Passward" >
            <button type="submit" class="w-99 btn btn-lg btn-primary"> log in</button>
    </form> 
</div>