
<div class="flex-box">

<div class="image"></div>
    
    
    <form action="" method="post" id="form-signup">      
        <input type="text" placeholder="First Name" name="FirstName" >
        <input type="text" placeholder="Last Name"  name="LastName">
        <input type="text" placeholder="User Name" name="UserName">
        <input type="email" placeholder="Email" id="email" name="Email">
        <input type="password" placeholder="Passward" name="Passward">
        <input type="password" placeholder="Confirm Passward" name="ConfirmPassward">
        <input type="date" name="date">
        <button type="submit" class="w-99 btn btn-lg btn-primary"> creat account</button>
    </form> 

</div>