
    <div class="split">
        <div class="rech">
            <input class="input1 aa" type="text" placeholder="First Name " name="username"> 
            <p>!the input is invalid</p>
        </div>
        <div class="rech">  
            <input class="input1" type="text" placeholder="Last Name">
            <p>!the input is invalid</p>
        </div>
        <div class="rech">
            <input class="input1" type="text" placeholder="User Name " name="username">
            <p>!the input is invalid</p>
        </div>
        <div class="rech">  
            <input class="input1" type="tel" placeholder=" Phone number" name="tel">
            <p>!the input is invalid</p>
        </div>
    </div>
    
    <div  class="split">
        <div class="rech">  
            <input class="email" type="email" placeholder="Email">
            <p class="warning">!the input is invalid</p>
        </div>
        <div class="rech">  
            <input class="input1" type="password" placeholder="Password">
            <p>!the input is invalid</p>
        </div>
        <div class="rech">  
            <input class="input1" type="password" placeholder=" Confirm Password">
            <p>!the input is invalid</p>
        </div>
        <div class="rech">  
            <input type="date" class="input1" placeholder="Date">
            <p>!the input is invalid</p>
        </div>
    </div>
    
    <div class="logo">
        <div class="signup">
        <span >sign up</span>
        </div>
        <div class="images">
        <span class="logos"><img src="/photo\facebook-logo-3-1.png" alt=""></span>
        <span class="logos"><img src="/photo/download.png" alt=""></span>
        <span class="logos"><img src="/photo/twiter-1.jpg" alt=""></span>
        </div>
    </div>
