
<div class="flex-box">

<div class="image"></div>
    
    
    <form action="/action_page.php" id="form-signup">
        <div>
        <input type="text" placeholder="First Name" >
        <input type="text" placeholder="Last Name">
        </div>
        <input type="text" placeholder="User Name">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Passward">
        <input type="password" placeholder="Confirm Passward">
        <input type="date" >
        <button type="submit" class="w-99 btn btn-lg btn-primary"> creat account</button>
    </form> 

</div>