<form action="" method="post" id="form-login">
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="confirmpassword" name="confirmpassword">
    <button type="submit" class="w-99 btn btn-lg btn-primary">submit</button>
</form> 